$numpad-bg-start: #DADDE1;
$numpad-bg-stop: #F3F3F3;

$key-bg-start: rgb(211,211,217);
$key-bg-stop: rgb(237,237,239);

$key-bg-press-start: #007AFF;
$key-bg-press-stop: #a8aab1;

$key-border-color: #838486;
$key-border-top-color: #797881;
$key-box-shadow: #43444b;
$key-color: #000;
$key-shadow: #efefef;
$key-text-size: 24px;

$display-bg-start: #e7fcbb;
$display-bg-stop: #bac6a2;

.x-numpad
.x-panel-inner{  
    background: $numpad-bg-start !important;
}
.x-numpad
.x-button{  
	border-top: 0;
	border-left: 0;
	border-right: 0;
    border-bottom: 1px solid $key-border-color;
    background: $key-bg-stop;
}
.x-numpad
.x-button
span{
    font-weight: normal;
    color: $key-color;
    font-size: $key-text-size;
}
.x-numpad
.x-button:focus,
.x-numpad
.x-button-pressing{
     background: $key-bg-press-start;
	 span { color: white; }
	 border: 0;
}

.x-numpad-display {
     background-color: $display-bg-stop !important;
     background: -webkit-linear-gradient(bottom, $display-bg-start 0%, $display-bg-stop 100%) !important;
     border-bottom-right-radius: 0 !important;
     border-bottom-left-radius: 0 !important;
     border-top-left-radius: 0 !important;
     border-top-right-radius: 0 !important; 
     box-shadow: inset 0px 0px 3px #4B5042;
}

.x-numpad-display
.x-input-text{
    font-size: 25px;
    min-height: 25px;
    padding: 6px 10px;
    text-align: right;
    color: #4B5042 !important;
    -webkit-text-fill-color: black !important;
    border-radius: 0;
}


.x-numpad
.x-form-fieldset .x-form-fieldset-inner{
    border: 0;
    border-radius: 0;
    background: transparent;
}
